body {
    background: rgba(42,100,56,1);
    background: -moz-linear-gradient(left, rgba(42,100,56,1) 0%, rgba(0,158,71,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42,100,56,1)), color-stop(100%, rgba(0,158,71,1)));
    background: -webkit-linear-gradient(left, rgba(42,100,56,1) 0%, rgba(0,158,71,1) 100%);
    background: -o-linear-gradient(left, rgba(42,100,56,1) 0%, rgba(0,158,71,1) 100%);
    background: -ms-linear-gradient(left, rgba(42,100,56,1) 0%, rgba(0,158,71,1) 100%);
    background: linear-gradient(to right, rgba(42,100,56,1) 0%, rgba(0,158,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6438', endColorstr='#009e47', GradientType=1 );
    
}

.logo {
    width: 300px;
    height: 150px;
    margin: auto;
}

.button-link {
    font-size: 12px;
}

.button-height {
    height: 100px;
}